<% layout("/layouts/boilerplates") %>
 <div class="row">
          <div class="col-8 offset-2">
               <h3>Create a New Listing</h3>

    <form method="POST", action="/listing" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3">
             <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a Catchy Title" type="text" class="form-control" required>
        <div class="valid-feedback">Title Looks Good!</div>
        </div>
       
        <div class="mb-3">
             <label for="des" class="form-label">Description</label>
             <textarea name="listing[description]" class="form-control" required></textarea>
             <div class="invalid-feedback">Description should be valid</div>
        </div>

        <div class="mb-3">
             <label for="image" class="form-label">Upload Listing Image</label>
             <input name="listing[image]" type="file" class="form-control" >
             required
        </div>

         <div class="row">
        <div class="mb-3 col-md-4">
             <label for="price" class="form-label">Price</label>
              <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
               <div class="invalid-feedback">Price should be valid</div>
        </div>
        
        <div class="mb-3 col-md-8">
              <label for="Country" class="form-label">Country</label>
              <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
               <div class="invalid-feedback">Country should be valid</div>
        </div>
        </div>
        <div class="mb-3">
             <label for="Location" class="form-label">Location</label>
             <input name="listing[location]" placeholder="Jaipur,Rajsthan" type="text" class="form-control" required>
              <div class="invalid-feedback">Location should be valid</div>
        </div>
         <br><br>
        <button class="btn btn-dark new-btn">Add</button>
        <br><br>
    </form>
</div>
</div>


         